body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#periodic_table {
    margin: 3vh;
    width: 85vw;
    height: calc(85vw * 0.45);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.chemical_button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.1vw;
    border: 1px solid black;
}
.chemical_button.metallic{
    background-color: #A6EBFE;
}
.chemical_button.non_metallic{
    background-color: #F3C295;
}
.chemical_button:active{
    background-color: aqua;
}
.chemical_button span:first-child {
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
}
.chemical_button span:last-child {
    display: inline-block;
    text-align: center;
    font-size: 0.8vw;

}
.display{
    width: 20vw;
    height: 12vh;
    border: 1px solid blue;
}